div#image_wrapper img#overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  width: 2000px;
  height: 1000px;
  pointer-events: none; }
div#image_wrapper ul#tile_wrapper {
  list-style: none;
  width: 465px; }
  div#image_wrapper ul#tile_wrapper li {
    float: left;
    padding: 0;
    margin: 0 5px 10px 5px; }
    div#image_wrapper ul#tile_wrapper li img {
      background-color: white;
      padding: 7px;
      margin: 0;
      border: 1px dotted #58595b;
      width: 129px;
      height: 145px; }
